/********************************
GENERAL
********************************/

*, *:before, *:after {
  box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:focus,
.selected {
    color: red;
}

p {
  color: white;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background: #efefef;
}

ul {
list-style: none;
}

/*@font-face{
	font-family: 'Aller';
	src: url('WebFont.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}*/

#splash::-webkit-scrollbar {
    display: none;
}

/*#main-photo {
    background-image: url("../img/bikerhome.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 20%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 2.4rem;
    position: relative;
}*/
#filler{
  margin-bottom: 90px;
}


header {
  background-color: black;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#logo {
  height: 65px;
  width: 280px;
  margin: 12px 0 0 26px;
}

.navDrop { /*3 lines together*/
    height: 50px;
    width: 35px;
    margin-top: 15px;
    margin-right: 17px;
    float: right;
    display: block;
    cursor: pointer;
    position: relative;
    line-height: 100px;
}

.navLine {  /*3 nav lines*/
    border: 3px white solid;
    width: 33px;
    position: absolute;
    right: 7px;
    box-shadow:
    0 12px 0 0 white,
    0 24px 0 0 white;
}

#navigation {
  position: fixed;
  top: 0;
  right: 0;
  height: 650px;
  width: 75%;
  max-width: 650px;
  background: black;
  list-style: none;
  text-align: center;
  font-size: 1.1rem;
  display: none;
}

#x {
  position: fixed;
  top: 8px;
  right: 29px;
  cursor: pointer;

}

#navi {
  margin-top: 60px;
}

#navi li{
  margin: 0 35px 30px 0;
}

.panel {
  height: 400px;
  margin: 0 auto;
  text-align: center;
}

#welcome {
  background-image: linear-gradient(90deg, rgba(0,0,0,.3) 0%,rgba(0,0,0,.2)),url("../img/150602_4048_barnett.jpg");
  background-size: cover;
  background-position: 70% 20%;
  margin-top: 90px;
}

#about {
  background-image: linear-gradient(90deg, rgba(252,130,89,.35) 0%,rgba(11,119,228,.3)),url("../img/150602_4177_barnett.jpg");
  background-size: cover;
  background-position: 55% 10%;
}

#rideone {
  background-image: 
      
/*      linear-gradient(170deg, rgba(79,72,206,.3) 55%,rgba(158,84,239,.3)),*/
      
      linear-gradient(170deg, rgba(0,0,0,.1) 55%,rgba(0,0,0,.2)),
      url("../img/140622_0250_barnett.jpg");
  background-size: cover;
  background-position: 20% 10%;
  position: relative;
  display: block;
}

#rideone_detail {
  background-image: linear-gradient(170deg, rgba(79,72,206,.8) 55%,rgba(79,72,206,.8)),url("../img/140622_0250_barnett.jpg");
  background-size: cover;
  width:100%;
  background-position: 20% 10%;
  position: absolute;
  top: 0;
  left: 0;
  display:none;
}

#ridetwo {
  background-image: 
      
/*      linear-gradient(170deg, rgba(239,83,83,.2) 55%,rgba(247,93,9,.3)),*/
      
      
      linear-gradient(170deg, rgba(0,0,0,.2) 55%,rgba(0,0,0,.1)),      
      
      url("../img/150602_4264_barnett.jpg");
  background-size: cover;
  background-position: 48% 30%;
  position: relative;
  display: block;
}

#ridetwo_detail {
  background-image: linear-gradient(170deg, rgba(247,93,9,.8) 55%,rgba(247,93,9,.8)),url("../img/150602_4264_barnett.jpg");
  background-size: cover;
  width: 100%;
  background-position: 48% 30%;
  position: absolute;
  top: 0;
  left: 0;
  display:none;
}

#ridethree {
  background-image: 
      
/*      linear-gradient(150deg, rgba(206,26,137,.3) 25%,rgba(232,112,27,.3)),*/
      
      linear-gradient(170deg, rgba(0,0,0,.2) 55%,rgba(0,0,0,.2)),
      url("../img/150602_4327_barnett.jpg");
  background-size: cover;
  background-position: 55% 25%;
  position: relative;
  display: block;
}

#ridethree_detail {
  background-image: linear-gradient(170deg, rgba(50,153,52,.8) 55%,rgba(50,153,52,.8)),url("../img/150602_4327_barnett.jpg");
  background-size: cover;
  width: 100%;
  background-position: 55% 25%;
  position: absolute;
  top: 0;
  left: 0;
  display:none;
}

#ridefour {
  background-image: 
      
/*      linear-gradient(150deg, rgba(206,26,137,.3) 25%,rgba(232,112,27,.3)),*/
      
      linear-gradient(170deg, rgba(0,0,0,.2) 55%,rgba(0,0,0,.2)),
      url("../img/150602_4059_barnett.jpg");
  background-size: cover;
  background-position: 30% 0%;
  position: relative;
  display: block;
}

#ridefour_detail {
  background-image: linear-gradient(170deg, rgba(79,72,206,.8) 55%,rgba(79,72,206,.8)),url("../img/150602_4059_barnett.jpg");
  background-size: cover;
  width: 100%;
  background-position: 30% 0%;
  position: absolute;
  top: 0;
  left: 0;
  display:none;
}

#ridefive {
  background-image: 
      
/*      linear-gradient(150deg, rgba(163,73,237,.3) 25%,rgba(65,234,206,.4)),*/
      
      linear-gradient(170deg, rgba(0,0,0,.1) 55%,rgba(0,0,0,.2)),
      url("../img/140622_0622_barnett.jpg");
  background-size: cover;
  background-position: 30% 10%;
  position: relative;
  display: block;
}

#ridefive_detail {
  background-image: linear-gradient(170deg, rgba(247,93,9,.8) 55%,rgba(247,93,9,.8)),url("../img/140622_0622_barnett.jpg");
  background-size: cover;
  width: 100%;
  background-position: 30% 10%;
  position: absolute;
  top: 0;
  left: 0;
  display:none;
}

#ridesix {
  background-image: 
      
/*      linear-gradient(150deg, rgba(206,26,137,.3) 25%,rgba(232,112,27,.3)),*/
      
      linear-gradient(170deg, rgba(0,0,0,.2) 55%,rgba(0,0,0,.2)),
      url("../img/150602_4018_barnett.jpg");
  background-size: cover;
  background-position: 30% 10%;
  position: relative;
  display: block;
}

#ridesix_detail {
  background-image: linear-gradient(170deg, rgba(50,153,52,.8) 55%,rgba(50,153,52,.8)),url("../img/150602_4018_barnett.jpg");
  background-size: cover;
  width: 100%;
  background-position: 30% 10%;
  position: absolute;
  top: 0;
  left: 0;
  display:none;
}

#newsletter {
  background-image: 
      
/*      linear-gradient(150deg, rgba(107,7,206,.3) 26%,rgba(61,61,244,.5),rgba(232,78,78,.5)),*/
      
      linear-gradient(170deg, rgba(0,0,0,.3) 55%,rgba(0,0,0,.2)),
      url("../img/140622_0446_barnett.jpg");
  background-size: cover;
  background-position: 24% 10%;
  position: relative;
  display: block;
}

.panel_paragraph {
  padding-top: 1px;
  margin: 0 15px;
}

.headline {
  margin-top: 40px;
  font-size: 1.8rem;
  font-weight: 800;
  text-shadow: 2px 3px 2px black;
}

.dots {
  margin-top: -75px;
  margin-bottom: 40px;
  font-size: 4rem;
  text-shadow: 2px 2px 3px black;
}

.under_headline p:not(.age18){
  font-size: 1.3rem;
  margin: -44px 0 60px;
  text-shadow: 2px 2px 1px black;
}

.age18 {
  font-size: .6rem;
}

.about_headline {
  margin: 100px 0 60px;
  font-weight: 600;
}

.ride_headline {
  font-size: 2rem;
  text-shadow: 2px 3px 3px black;
  margin: 45px 0 290px;
}

.location{
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 2px 2px 3px black;
  margin: 0;
}

.ride_detail_headline {
  font-size: 1.7rem;
  margin-top: 10px;
  text-shadow: 1px 2px 3px black;
}

.details {
  font-size: .8rem;
}

.panel_paragraph p span,
.rideone_detail_map,
.ridetwo_detail_map,
.ridethree_detail_map,
.ridefour_detail_map,
.ridefive_detail_map,
.ridesix_detail_map{
  display: inline-block;
  margin: 0 20px 0;
  padding: 6px 6px;
  border: 2px solid white;
  font-size: 1rem;
  transition: 500ms;
  transition-property: all;
}

.ride_buttons {
  margin-top: 37px;
}

.register_button {
  display: inline-block;
}

.ride_buttons :hover,
.detail_ride_buttons :hover,
.register_button :hover {
  border: 2px solid black;
  background: rgba(255,255,255,.6);
  color: black;
  text-shadow: 1px 2px 4px grey;
  box-shadow: 1px 2px 4px black;
  transition: 500ms;
  transition-property: all;
}

.register_button,
.rideone_detail_button,
.rideone_detail_map,
.backone,
.ridetwo_detail_button,
.ridetwo_detail_map,
.backtwo,
.ridethree_detail_button,
.ridethree_detail_map,
.backthree,
.ridefour_detail_button,
.ridefour_detail_map,
.backfour,
.ridefive_detail_button,
.ridefive_detail_map,
.backfive,
.ridesix_detail_button,
.ridesix_detail_map,
.backsix {
  cursor: pointer;
}

/*************************
Clearfix
*************************/

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/********************************************************
RESPONSIVE
*********************************************************/

@media (min-width: 359px){

  .headline {
    font-size: 1.8rem;
    margin-top: 23px;
  }
    
  .about_headline {
      font-size: 1.5rem;  
  }

  .dots {
    margin: -58px 0 0;
    font-size: 3rem;
    text-shadow: 2px 2px 4px black;
  }
    
/*
  .under_headline {
     margin-top: 230px;   
  } 
*/
    
  #welcome p {
    text-shadow: 2px 2px 2px black; 
  }
    
  .first_under {
     margin: -1px 0 190px;
     font-size: 1.3rem;
  }

  .under_headline p:not(.age18){
    font-size: 1.1rem;
    margin: -44px 0 60px;
  }

  .panel_paragraph p span,
  .rideone_detail_map {
    padding: 4px 4px;
    border: 2px solid white;
    font-size: 1rem;
  }

  .register_button {
    
  }

  .age18 {
    font-size: .83rem;
    margin-top: -10px; 
  }

  .first_about_under {
    margin-top: 294px;
  }

  .ride_headline {
    font-size: 1.9rem;
  }

  .ride_under_headline {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .details {
    font-size: .9rem;
  }

  .detail_ride_buttons {
    margin-top: 0;
    font-size: .7rem;
  }

  .panel_paragraph p span,
  .rideone_detail_map,
  .ridetwo_detail_map,
  .ridethree_detail_map,
  .ridefour_detail_map,
  .ridefive_detail_map,
  .ridesix_detail_map {
    margin: 0 34px 0;
    padding: 7px 7px;
    border: 2px solid white;
    font-size: 1.1rem;
  }

}

@media (min-width: 410px){

  #navigation {
    font-size: 1.4rem;
  }

  #navi li {
    margin-bottom: 37px;
  }

  .headline {
    font-size: 1.8rem;
    margin-top: 30px;
  }

  .dots {
    font-size: 3.6rem;
  }

  .under_headline p:not(.age18){
    font-size: 1.3rem;
    margin: -40px 0 60px;
  }

  .register_button {
  }

  .age18 {
    font-size: .8rem;
  }

  .first_about_under {
    margin-top: 276px;
  }

  .week {
    font-size: 2rem;
    margin-top: 51px;
  }

  .location {
    font-size: 1.8rem;
    margin-bottom: 135px;
  }

  .ride_buttons {
    margin-top: -50px;
  }

  .details {
    font-size: 1rem;
  }

  .detail_ride_buttons {
    margin-top: 0;
    font-size: .7rem;
  }

  .panel_paragraph p span,
  .rideone_detail_map,
  .ridetwo_detail_map,
  .ridethree_detail_map,
  .ridefour_detail_map,
  .ridefive_detail_map,
  .ridesix_detail_map {
    margin: 0px 34px 0;
    padding: 7px 7px;
    border: 2px solid white;
    font-size: 1.2rem;
  }


}

@media (min-width: 765px){

  #navigation {
    font-size: 1.5rem;
  }

  .headline {
    font-size: 2.6rem;
    margin-top: 44px;
  }

  .about_headline {
    margin-top: 40px;
  }

  .dots {
    font-size: 4rem;
    margin-top: -85px  
  }
    
  .first_under {
     margin: -1px 0 190px;
     font-size: 1.6rem;
  }   
  
  .learn {
    font-size: 1.3rem;      
  }

  .under_headline{
    margin: 55px 0 60px;
  }
    
  .under_headline p:not(.age18){
    font-size: 1.8rem;   
  }    

  .register_button {
    margin-top: 5px;
  }

  .age18 {
    font-size: 1rem;
  }

  .first_about_under {
    margin-top: 456px;
  }

  .week {
    font-size: 2.4rem;
    margin-top: 92px;
    margin-bottom: 300px;  
  }

  .location {
    font-size: 2.2rem;
    margin-bottom: 265px;
  }

  .ride_buttons {
    margin-top: -190px;
  }

  .ride_detail_headline {
    margin-top: 43px;
    font-size: 2rem;
  }

  .location_detail {
    font-size: 2rem;
    margin: 50px 0;
  }

  .details {
    font-size: 1.4rem;
    width: 90%;
    margin: 0 auto;
  }

  .detail_ride_buttons {
    margin-top: 36px ;
    font-size: .7rem;
  }

  .panel_paragraph p span,
  .rideone_detail_map,
  .ridetwo_detail_map,
  .ridethree_detail_map,
  .ridefour_detail_map,
  .ridefive_detail_map,
  .ridesix_detail_map {
    margin: 0px 34px 0;
    padding: 9px 9px;
    border: 2px solid white;
    font-size: 1.4rem;
  }

  .questions {
    margin-top: 100px;
  }


}

@media (min-width: 1020px){

  #navigation {
    font-size: 1.5rem;
  }

  .headline {
    font-size: 2.6rem;
    margin-top: 40px;
    margin-bottom: -170px;  
  }

  .about_headline {
    margin-top: 90px;
    margin-bottom: 360px;
  }

  .dots {
    font-size: 4rem;
    margin-top: -70px;
    display: none;    
  }
    
  .under_headline {
    margin-top: 300px;      
  }    

  .under_headline p:not(.age18){
    font-size: 1.7rem;
    margin: -38px 0 60px;
  }  

  .first_under {
     margin: 178px 0 196px;
     font-size: 1.6rem;
  }   
  
  .learn {
    font-size: 1.3rem;      
  }
    
  .age18 {
    font-size: .9rem;
  }

  .week {
    font-size: 2.6rem;
    margin-top: 100px;
  }

  .location {
    font-size: 2.5rem;
    margin-bottom: 75px;
  }

  .ride_buttons {
    margin-top: -35px;
  }

  .ride_detail_headline {
    margin-top: 43px;
    font-size: 2.1rem;
  }

  .location_detail {
    font-size: 2.1rem;
    margin: 45px 0;
  }

  .details {
    font-size: 1.3rem;
    width: 91%;
    margin: 0 auto 8px;
  }

  .detail_ride_buttons {
    font-size: .8rem;
  }


}
